
.story{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 150px;
    gap: 15px;
    
}
.storyProfile{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    position: absolute;
}
.img{
    height: 200px;
    width: 150px;
    border-radius: 15px;
}
.stories{
    overflow-x: auto;
}
.stories::-webkit-scrollbar{
    width: 0;
}
h6 {
    text-align: center; /* Centers the name under the images */
    /* margin-top: 5px; Adds margin above the name to push it down */
  }
.story-container {
    position: relative; /* Establishes a positioning context for child elements */
   
}