.home{
    display: flex;
    height: 8400px;
    width: 60%;
    overflow: hidden;
    flex-direction: row;
    padding-top: 10px;
    gap: 100px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 1px black;
   background-color: rgb(235, 235, 235);
}


  
  .home.dark {
    background-color: black;
    color: white;
    height: 8680px;
  }